.idea
build_gif.py
draw_pr_curve.py
data
fig
logs
model
IQIdata/processed
metrics
IQIdata/processed_1Dmetrics/metrics.json
IQIdata/gauge_obb
*.pt
/outputs
/local
/runs
cache/
__pycache__/
!/models/
!/models/**
TODO.md